.main-bg {
    height: 100vh;
    max-width: 100%;
    background-image: url("../../../assets/doctorbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}

.main-gradiant {
}

.main-p1 {
    position: relative;
    display: flex;
    top: 2rem;
    left: 10rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    color: #0092ff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    /* border-top: 0.1rem solid rgb(0, 0, 0) ;
    border-bottom:0.11rem solid rgb(0, 0, 0) ; */
}

.main-h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    left: 10rem;
    position: relative;
    width: 40rem;
    font-size: 4rem;
    color: #000000;
    margin-left: 2rem;
    font-weight: 700;
}

.main-p2 {
    position: relative;
    display: flex;
    left: 10rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    width: 40rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding-bottom: 2rem;
    /* border-top: 0.1rem solid rgb(0, 0, 0) ;
    border-bottom:0.11rem solid rgb(0, 0, 0) ; */
}

.main-btn1 {
    width: 15rem;
    left: 12rem;
    display: inline-block;
    transition: all 0.1s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 3.3rem;
    color: #090909;
    padding: 0rem 2rem;
    cursor: pointer;
    font-size: 19px;
    border-radius: 0.5em;
    background: #f4f4f4;
    border: 1px solid #fffdfb;
    /* box-shadow: 3px 3px 6px #fffdfb, -3px -3px 6px #fffdfb; */
}

.main-btn1:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.main-btn1:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.main-btn1:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.main-btn1:hover {
    color: #ffffff;
    border: 1px solid #0092ff;
    background-color: #ffffff;
}

.main-btn1:hover:before {
    top: -35%;
    background-color: #0092ff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.main-btn1:hover:after {
    top: -45%;
    background-color: #0092ff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
