.staff-navbar-main {
    position: fixed;
    height: 100vh;
    background-color: #f2f2f2;
    margin-left: 2rem;
    margin-right: 1rem;
}

.staff-navbar-details {
    padding-top: 1.5625rem;
    height: 33vh;
}
.staff-navbar-photo {
    margin: auto;
    height: 12.5rem;
    width: 12.5rem;
    margin-bottom: 1.25rem;
}
.staff-navbar-photo img {
    margin: auto;
    border-radius: 50%;
    height: 12.5rem;
    width: 12.5rem;
}
.staff-navbar-name {
    display: flex;
    justify-content: center;
    font-size: 1.375rem;
    font-weight: 700;
    color: #154cc3;
}
.staff-navbar-edu {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: #154cc3;
    padding-bottom: 1.875rem;
}
.staff-navbar-divider {
    border-bottom: 0.0625rem solid #154cc3;
    margin: auto;
    margin-right: 5.625rem;
    margin-left: 5.625rem;
}

.staff-navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.staff-navbar-links {
    list-style-type: none;
}
.staff-navbar-link li {
    margin-left: 0.625rem;
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.staff-navbar-link:hover {
    color: #0740bf;
}
