.navbar-main {
    display: block;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 5rem;
}

.navbar-name {
    margin-top: 0.7rem;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    color: #0092ff;
}
.navbar-name span {
    color: #000000;
}

.navbar-logo {
    height: 3rem;
    margin-right: 0.5rem;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1.5rem;
    overflow: hidden;
    position: relative;
}
.link::before {
    content: "";
    background-color: #0092ff;
    position: absolute;
    height: 0.19rem;
    bottom: 0;
    top: 1.5rem;
    left: 0;
    width: 0%;
    transition: width 0.3s ease;
}
.link:hover::before {
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.navbar-upper {
    height: 3rem;
    background-color: #091d3e;
}
.navbar-emergency {
    color: white;
}
.navbar-location {
    color: white;
}
.navbar-text {
    margin-top: 0.8rem;
}
.navbar-upper-content {
    margin-top: -0.8rem;
}
